logs/
npm-debug.log
node_modules/
coverage/
.idea/
run/
logs/
.DS_Store
.vscode
*.swp
*.lock

!.autod.conf.js

app/**/*.js
lib/**/*.js
bin/**/*.js
test/**/*.js
config/**/*.js
app/**/*.map
test/**/*.map
config/**/*.map
app.js
agent.js
.env
.deploy.yml
img_cache/*.png
*.xlsx
*.csv
uploads/*
